.middle {
    text-align: center;
}

ul, ol {
    display: inline-block; 
	text-align: left;
}

.medium {
    font-size: 35px;
    font-family: "Courier New", monospace;
}

.large {
    font-family: "Courier New", monospace;
    color: darkslateblue;
    background-color: lightgreen;
    font-size: 60px;
    text-align: center;
}

