.title{
    text-align: center;
}

.magic,
.cowboy,
.popcorn {
    font-size: 35px;
}

.title {
    font-family: "Courier New", monospace;
    color: darkslateblue;
    background-color: lightgreen;
    font-size: 40px;

}

.recipes{
    text-align: center;
    list-style: inside;
}