body {
    text-align: center;
}

.magic,
.cowboy,
.popcorn {
    font-size: 35px;
    font-family: "Courier New", monospace;
}

.title {
    font-family: "Courier New", monospace;
    color: darkslateblue;
    background-color: lightgreen;
    font-size: 60px;

}

.recipes{
    display: inline-block; 
	text-align: left; 
}